*{margin: 0; padding: 0; box-sizing: border-box;}
body{background-color: darkslategrey;}

.container{
  width: 70%;
  margin: 30px auto;
}
.title{
  font-size: 25px;
  text-align: center;
  color: chocolate; 
  text-transform: uppercase;
}

.skill li{
   position: relative;
   list-style: none;
   padding: 30px 0px;
}

.skill li::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  left:0;
  bottom:0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 0px 8px 2px rgba(0,0,0,0.75); 
}

.skill li::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  left:0;
  bottom:0;
  animation-duration: 3s;
  animation-timing-function:ease;
  animation-fill-mode: forwards;
}

.skill li.html::after{
  animation-name:html;
}
.skill li.css::after{
  animation-name:css;
}
.skill li.bootstrap::after{
  animation-name:bootstrap;
}
@keyframes html{
  to{
    width:90% ;
    background-color: darkgoldenrod
  }

}
@keyframes css{
  to{
    width:80% ;
   background-color: darkgoldenrod
  }

}

@keyframes bootstrap{
  to{
    width:60% ;
    background-color: darkgoldenrod;
  }

}

.html,.css,.bootstrap{
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}
.head_html span{
  position: absolute;
  left:77%;
  margin-top: 30px; 
  color: white;
}

.head_css span{
  position: absolute;
  left:70%;
  margin-top: 30px; 
  color: white
}

.head_bootstrap span{
  position: absolute;
  left:55%;
  margin-top: 30px; 
  color: white
}